<!-- new と edit の共通化、パーシャル -->
<%= form_with(model: task, local: true) do |f| %>
  <!-- エラー表示 -->
  <% if task.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.label :content, "タスクの入力" %>
  <%= f.text_field :content %>
  
  <!-- status の追加、 input要素のtype属性:text -->
  <%= f.label :status, "進行状況" %>
  <%= f.text_field :status %>

  <%= f.submit "登録" %>
<% end %>